<div class="bring-down">
  <h2 class = "text-center">Edit Account Information</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>


    <div class="field">
      <div class="form-group">
        <div class="row ">
          <div class="col-sm-offset-4 col-sm-4">
            <strong> <%= f.label :email %> </strong> <br />
            <%= f.email_field :email, autofocus: true %>
          </div>
        </div>
      </div>
    </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

    <div class="field">
      <div class="form-group">
        <div class="row ">
          <div class="col-sm-offset-4 col-sm-4">
            <strong> <%= f.label :password %> </strong>(leave blank if you don't want to change it)<br />
            <%= f.password_field :password, autocomplete: "off" %>
            <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="form-group">
      <div class="row ">
        <div class="col-sm-offset-4 col-sm-4">
        <strong>
            <%= f.label :password_confirmation %><br />
          </strong>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      </div>
    </div>
  </div>

  <div class="field">
     <div class="form-group">
       <div class="row ">
          <div class="col-sm-offset-4 col-sm-4">
              <strong><%= f.label :current_password %> </strong>
              <br />
            <%= f.password_field :current_password, autocomplete: "off" %>
          </div>
        </div>
      </div>
    </div>

  <div class="actions">
     <div class="form-group">
       <div class="row ">
          <div class="col-sm-offset-4 col-sm-4">
            <%= f.submit "Update", :class => "btn btn-margin margin-top-bottom"  %>
          </div>
        </div>
      </div>
    </div>

<% end %>

<h2 class = "text-center">Unhappy ?</h2>
  <div class="actions">
     <div class="form-group">
       <div class="row ">
          <div class="col-sm-offset-4 col-sm-4">
            <p><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "btn btn-margin margin-top-bottom"%></p>
          </div>
        </div>
      </div>
    </div>

<div class = "text-center">
  <%= link_to "Back", :back, :class => "black-font" %>
</div>
</div>