<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">

<%= form_for [@challenge,@comment] do |f| %>

  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <br>
      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
      <br>
    </div>
  <% end %>


    <div class="row">
        <div class="col-sm-12">
                <%= f.text_area :body, placeholder: "Write your comment ...", id: "commentbody" %>
                <%= f.hidden_field :user_id %>
                <%= f.hidden_field :challenge_id %>
         </div><!-- /col-sm-5 -->
    </div><!-- /row -->

  <div class="actions">
    <div class="row">
      <div class="col-sm-12">
        <%= f.submit "Post Comment", :class => "btn btn-margin comment-button", id: "comment-button" %>
      </div>
    </div>
  </div> 

<% end %>


      <% @comments.each do |comment| %>

        <div class="comment">
          <div class="comment-header"><strong><%= link_to comment.user.username, user_path(comment.user), class: 'black-font' %></strong><span class="text-muted pull-right ">posted <%= time_ago_in_words(comment.created_at) %> ago</span>
          </div>
          <div class="comment-body panel-footer">
              <%= comment.body %>
          </div>
          <br>
            <% end %>
        </div>
    </div>
  </div><!-- /col-sm-5 -->
  </div><!-- /row -->

