<style>
  .commentbox {
    max-height: 500px;
    overflow: scroll;
  }

</style>

<div class="text-left top-padding">
  <h2>Comment about this challenge :</h2><br>

  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">

        <%= form_for [@challenge,@comment] do |f| %>
          <div class="row">
            <div class="col-sm-12">
              <%= f.text_area :body, placeholder: "Write your comment ...", id: "commentbody" %>
              <%= f.hidden_field :user_id %>
              <%= f.hidden_field :challenge_id %>
             </div><!-- /col-sm-5 -->
          </div><!-- /row -->

          <div class="actions">
            <div class="row">
              <div class="col-sm-12">
                <%= f.submit "Post Comment", :class => "btn btn-margin" %>
              </div>
            </div>
          </div>
    <% end %>

<div class="commentbox">
  <% @comments.each do |comment| %>

        <div class="comment">
          <div class="comment-header"><strong><%= link_to comment.user.username, user_path(comment.user), class: 'black-font' %></strong><span class="text-muted pull-right ">posted <%= time_ago_in_words(comment.created_at) %> ago</span>
          </div>
          <div class="comment-body panel-footer">
              <%= comment.body %>
              <%- if comment.user == current_user %>
                <br>
                <div class="pull-right">
                  <!-- Insert edit and destroy button before -->
                </div>
              <% end %>
          </div>
          <br>
  <% end %>
  </div>
        </div>
    </div>
  </div><!-- /col-sm-6 -->
  </div><!-- /row -->
  </div>

