<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :title, cols: "40", rows: "1" %>
  </div>

  <div class="field">
   <%= f.text_area :body, cols: "40", rows: "5" %>
    <%= f.hidden_field :challenge_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
