<div class="bring-down">
	
      <div class="row">
        <div class="col-md-8">
	  		<% flash.each do |key, value| %>
        		<div class="alert alert-<%= key %>"><%= value %></div>
      		<% end %>
      	</div>
      </div>
	<div class="header-container">
		<h1>Editing Comment</h1>
	</div>

<%= render 'form' %>

<%= link_to 'Show', @challenge_comment %> |
<%= link_to 'Back', challenge_comments_path %>
</div>