<div class="page-container bring-down">

<div class="row">
<div class="col-md-4">
  <div class="panel">
    <div class="panel-body">
        <%= render 'mailbox/folder' %>
    </div>
  </div>
  <%= link_to "Compose new message", new_conversation_path, class: "btn btn-success btn-margin" %>
  <br>
  <% if conversation.is_trashed?(current_user) %>
    <%= link_to "Untrash", untrash_conversation_path, class: "btn btn-success btn-margin margin-top-bottom-sm", method: :post %>
  <% else %>
    <%= link_to "Move to thrash", trash_conversation_path, class: "btn btn-success btn-margin margin-top-bottom-sm", method: :post, data: {confirm: 'Are you sure ?'} %>
  <% end %>

</div>

<div class="col-md-8">
  <div class="panel">

    <div class="panel-body">
        <%= render partial: 'messages' %>
    </div>

    <div class="panel-footer">
      <%= form_for :message, url: reply_conversation_path(conversation) do |f| %>
          <div class="form-group">
          <%= f.text_area :body, placeholder: "Reply message", rows: 4, class: "form-control" %>
          <%= f.submit "Reply", class: "btn btn-margin margin-top-bottom-sm" %>
         </div>
      <% end %>
    </div>
</div>
</div>
</div>

</div>