<div class="bring-down">

<div class="header-container">
	<h2 class="center-text">FORGOT YOUR PASSWORD ?</h2>
</div>
<br><br>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post}) do |f| %>


      <div class="row">
      <div class="col-sm-offset-4 col-sm-4">
  <%= devise_error_messages! %>
  </div>
  </div>

  <div class="form-group">
      <div class="row">
      <div class="col-sm-offset-4 col-sm-4">
      <p>Input your e-mail adress</p>
      </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-4 col-sm-4">
          <%= f.email_field :email, class: "form-control", autofocus: true, class: "small-margin-bottom" %>
        </div>
      </div>
      </div>
  </div>

   <div class="form-group">
    <div class="row">
      <div class="col-sm-offset-4 col-sm-4">
        <%= f.submit "Sent me password instructions", class: "btn btn-medium btn-margin small-margin-top-bottom " %>
      </div>
    </div>
  </div>
<% end %>

  <div class="form-group center-text margin-top-bottom">
    <div class="col-sm-offset-4 col-sm-4">
      <%= render "devise/shared/links" %>
    </div>
  </div>

  <br><br>

</div>