<div class="page-container">
  <div class="bring-down">
  <!-- Notice -->
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <strong> <%= value %></strong>
          <button type="button" class="close" data-dismiss="alert">x</button>
        </div>
      <% end %>
      </div>
      </div>

  <div class="header-container">
    <h1 class="smartHead">Challenge Submissions</h1>
    <hr>
  </div>


  <div class="panel">
    <div class="panel-body">

      <%- if @challenge.submissions.length > 0 %>
      <table class="table col-sm-6">
        <thead>
          <tr>
            <th>Content</th>
            <th>Username</th>
            <th>Time created</th>
          </tr>
        </thead>

        <tbody class = "text-left">
          <% @submissions.each do |submission| %>
            <tr>
              <td><%= truncate(submission.submission_text, length: 100) %></td>
              <td><%= submission.user.username %></td>
              <td><%= submission.created_at %></td>

              <td><%= link_to 'Show', [submission.challenge, submission] %></td>
              <% if current_user.user_type %>
                <td><%= link_to 'Edit', edit_challenge_submission_path(submission.challenge, submission) %></td>
                <td><%= link_to 'Destroy', [submission.challenge, submission], method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <%else%>
              <%end%>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%else%>
      <p>There are no submissions for this challenge yet</p>
      <%end%>
    </div>
  </div>
<br>
<%= link_to 'List of challenges', challenges_path %>
</div>
</div>