<div class="page-container">
<div class="bring-down">
	<div class="row">
    	<div class="col-sm-offset-1 col-sm-10">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      </div>
      </div>
	<br><br>

	<div class="row">
		<div class="col-sm-offset-1 col-sm-10">
			<div class="panel">
				<div class="panel-body">
					<h2>Challenge Description</h2><br>
					<p><%= @challenge.body %></p>
				</div>
			</div>
		</div>	
	</div>

	<br>

	
	<div class="row">
    	<div class="col-sm-offset-1 col-sm-10">
		<%= render 'form' %>
			<%= link_to 'Back', challenge_submissions_path %>
		</div>
	</div>

