<div class="bring-down">
<p id="notice"><%= notice %></p>
<strong>Code submitted on <%= @submission.created_at.to_formatted_s(:short) %> </strong><br><br>
<textarea class = "codemirror-textarea"><%= @submission.submission_text %></textarea>

<p>
  <strong>Submission Number :</strong>
  <%= @submission.id %>
</p>

<%= link_to 'Back', challenge_submissions_path(@submission.challenge) %>
</div>