<p id="notice"><%= notice %></p>

<!-- Replace with the username  -->
<p class = "well">
  <strong>Title:</strong><br>
  <%= @submission.user_id %>
</p>

<p class = "well text-justify">
  <strong>Body:</strong><br><br>
  <%= @submission.submission_text %>
</p>

<p>
  <strong>Submission Number :</strong>
  <%= @submission.id %>
  <strong>Time created:</strong>
  <%= @submission.created_at %>
</p>


<%= link_to 'Back', challenge_submissions_path(@submission.challenge) %>
