<div class="bring-down">
<div class="header-container">
  <h2 class = "center-text">LOG IN</h2>
</div>

<br>

<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>

  <div class="form-group">
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4">
        <%= f.email_field :email, class: "form-control small-margin-top-bottom" %>
    </div>
    </div>
  </div>


  <div class="form-group">
    <div class="row">
      <div class="col-sm-offset-4 col-sm-4">
          <%= f.password_field :password, class: "form-control small-margin-top-bottom" %>
      </div>
    </div>
  </div>

  <br>

  <div class="form-group">
      <div class="row">
        <div class="col-sm-offset-4 col-sm-4">
          <%= f.submit "Log In", class: "btn small-margin-top-bottom" %>
        </div>
      </div>
  </div>

<!-- Check additional code for rememberable feature -->

  <div class="form-group center-text">
    <div class="col-sm-offset-3 col-sm-6">
          <%= render "devise/shared/links" %>
    </div>
  </div>

<% end %>

<br><br>

</div>