<%= form_for(@challenge, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-8") do |f| %>


  <div class="row ">
    <div class="col-sm-offset-2 col-sm-8">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
        <button type="button" class="close" data-dismiss="alert">x</button><%= value %>
        </div>
      <% end %>
    </div>
  </div>

  <% if @challenge.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert">x</button>
      <strong><%= pluralize(@challenge.errors.count, "error") %>prohibited this challenge from being saved:</strong><br>
      <ul>
      <% @challenge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
      <br>
    </div>
  <% end %>


  <div class="field">
    <div class="form-group">
      <div class="row ">
        <div class="col-sm-offset-2 col-sm-8">
          <p><strong>Challenge title</strong></p>
          <%= f.text_field :title %>
        </div>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="form-group">
      <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
          <p><strong>Challenge statement</strong></p>
          <%= f.text_area :body, cols: "30", rows: "10", id: "challenge_text" %>
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="form-group">
      <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
          <p><strong>Code</strong></p>
          <%= f.text_area :code, cols: "30", class: "codemirror-textarea" %>
        </div>
      </div>
    </div>
  </div>

  
    <div class="form-group">
      <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
        <div class="field">
          <p><strong>Hint1</strong></p>
          <%= f.text_field :hint1%>
        </div>
        <div class="field">
          <p><strong>Hint2</strong></p> 
          <%= f.text_field :hint2 %>
        </div>
      </div>
    </div>
  </div>

  <div class="actions">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8">
        <%= f.submit "Create Challenge", :class => "btn btn-margin margin-top-bottom" %>
      </div>
    </div>
  </div>

<% end %>
