<p id="notice"><%= notice %></p>

<p class = "well">
  <strong>Title:</strong><br>
  <%= @challenge.title %>
</p>

<p class = "well text-justify">
  <strong>Body:</strong><br><br>
  <%= @challenge.body %>
</p>

<p class = "well text-justify">
  <strong >Code:</strong><br><br>
  <%= @challenge.code %>
</p>

<p class = "well text-justify">
  <strong>Hint1:</strong>
  <%= @challenge.hint1 %>
  <br>
  <strong>Hint2:</strong>
  <%= @challenge.hint2 %>
</p>

<p>
  <strong>Challenge Number :</strong>
  <%= @challenge.id %>
  <strong>Time created:</strong>
  <%= @challenge.created_at %>
    <strong>User viewcount:</strong>
  <%= @challenge.user_viewcount %>
</p>

<div class="submit-button btn btn-primary">
  <%= link_to 'Submit your solution !', new_challenge_submission_path(@challenge.id) %>
</div>

<%- if (current_user.user_type?) %> 
  <div class="submit-button btn btn-primary">
    <%= link_to 'View Submissions !', challenge_submissions_path(@challenge.id) %>
  </div>
<% end %>


<div class="write-comment-container text-left">
  <h3>Comment about this challenge :</h3>
  <%= render 'comments/form' %>
</div>

<div class="comment-container text-left">
  <h3>Latest comments</h3>
  <%= render 'comments/commentbox' %>
</div>

<%= link_to 'Back', root_path %>



