<p id="notice"><%= notice %></p>

<h2>Challenge Statement</h2><br>
<p class = "well text-justify">
  <strong><%= @challenge.title %></strong><br><br>
  <%= @challenge.body %>
</p>

<h2>Challenge Code</h2><br>
<textarea class = "codemirror-textarea"><%= @challenge.code %></textarea>

<p class = "well text-justify">
  <strong>Hint1:</strong>
  <%= @challenge.hint1 %>
  <br>
  <strong>Hint2:</strong>
  <%= @challenge.hint2 %>
<p>

  <strong>Challenge Number :</strong>
  <%= @challenge.id %> |
  <strong>Time created:</strong>
  <%= @challenge.created_at %> | 
    <strong>User viewcount:</strong>
  <%= @challenge.user_viewcount %>
</p>


<%- if (current_user.user_type?) %> 
  <div class="submit-button btn btn-primary btn-lg gradient button-styling">
    <%= link_to 'View Submissions', challenge_submissions_path(@challenge.id) %>
  </div>
<% else %>
  <div class="submit-button btn btn-primary btn-lg gradient button-styling">
    <%= link_to 'Submit your solution !', new_challenge_submission_path(@challenge.id) %>
  </div>
<% end %>


<div class="write-comment-container text-left">
  <h2>Comment about this challenge :</h2>
  <%= render 'comments/form' %>
</div>

<div class="comment-container text-left">
  <h2>Latest comments</h2>
  <%= render 'comments/commentbox' %>
</div>

<%= link_to 'Back', root_path %>




