<style>
  
  .font-bigger
  {
    font-size: 16px
  }
</style>

<div class="page-container">
<div class="bring-down page-padding">

<h2>Challenge Statement</h2><br>

  <div class="row">
    <div class="col-sm-12">
      <div class="panel-bordered">
        <div class="panel-body">
          <p class = "text-justify font-bigger">
            <strong><%= @challenge.title %></strong><br><br>
            <%= @challenge.body %>
          </p>
          </div>
        </div>
      </div>
    </div>

 <hr>

<h2>Challenge Code</h2><br>
<textarea class = "codemirror-textarea"><%= @challenge.code %></textarea>


 <% if @challenge.hint1 != "" || @challenge.hint2 != "" %>
    <p class = "well text-justify">
      <strong>Hint1:</strong>
      <%= @challenge.hint1 %>
      <br>
      <strong>Hint2:</strong>
      <%= @challenge.hint2 %>
    <p>
  <% else %>
  <% end %>


<%- if current_user %>
  <%- if (current_user.user_type?) %>

  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">
      <div class="submit-button btn btn-medium btn-margin margin-top-bottom">
        <%= link_to 'View Submissions', challenge_submissions_path(@challenge.id) %>
      </div>
    </div>
  </div>

<% else %>

  <div class="row ">
    <div class="col-sm-offset-3 col-sm-6">
      <div class="btn btn-medium btn-margin margin-top-bottom">
        <%= link_to 'Submit your solution !', new_challenge_submission_path(@challenge.id) %>
      </div>
    </div>
  </div>

  <% end %>
<% end %>

<%- if current_user %>
  <div class="write-comment-container text-left top-padding">
    <h2>Comment about this challenge :</h2>
    <%= render 'comments/form' %>
  </div>
<% end %>

<div class="comment-container text-left top-padding">
  <h2 class="bottom-padding">Latest comments</h2>
  <%= render 'comments/commentbox' %>
</div>


<div class="row ">
<div class="col-sm-12">
<p>
  <strong>Challenge Number :</strong>
  <%= @challenge.id %> |
  <strong>Time created:</strong>
  <%= time_ago_in_words (@challenge.created_at) %> ago | 
    <strong>User viewcount:</strong>
  <%= @challenge.user_viewcount %>
</p>
</div>
</div>
<%= link_to 'Back', root_path, class: "black-font" %>
</div>
</div>




