<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8">
    <meta property="og:url"                content="http://www.glasshunt.co" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Glass Hunt: Exploit Blockchains" />
    <meta property="og:description"        content="There are funds stuck in blockchains and it's time for you to get them out." />
    <meta property="og:image"              content="http://www.glasshunt.co/images/yes2.png" />


    <title>Glass Hunt | Celebrating Hackers</title>
    <meta name="description" content="Glass Hunt is developer playground, rewarding hackers to find exploits in blockchains.">
    <link rel="shortcut icon" href="cssglass/images/favicon/favicon.ico" type="image/x-icon">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <style>

        .CodeMirror {
            border-top: 1px solid #eee; 
            border-bottom: 1px solid #eee; 
            line-height: 1.3;
             height: 500px
         }
        .CodeMirror-linenumbers {
         padding: 0 8px;
        }

        article::-webkit-scrollbar { 
            display: none; 
        }

        .huge-margin { 
         margin-top: 250px;
        }
    </style>


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <div id="loader" style="width:100%; height:100%; background-color:white; position:fixed; top:0px; left:0px; text-align:center; padding-top:20%; z-index:200">

        <%=image_tag("logo_small.png", class: "bounce animated")%>
        <br><br><br>
        <center>
        <h1 class="logo caps" style="font-size:15px">Glass Hunt</h1>
        </center>

    </div>

</head>


<body>
    <!-- Begin wrapper -->
    <div id="container">
    <!-- Begin Fixed Navigation -->
        <header id="main-nav" class="main-navigation">
            <div class="container">
                <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <div id="navigation" class="toggle-btn-mnu open">
                            <i class="fa fa-bars"></i>
                        </div>
                    </div>

                    <!-- Begin Slide Menu -->
                    <div id="slide_out_menu">   
                        <div class="menu-close"><i class="fa fa-times"></i></div>
                            <ul class="socials text-center">
                                <li><a href="http://twitter.com/theglasshunt" target="_blank"><i class="fa fa-twitter" ></i></a></li>
                                <li><a href="https://www.facebook.com/glasshunt/" target="_blank"><i class="fa fa-facebook" ></i></a></li>
                                <li><a href="http://glasshunt.tumblr.com/" target="_blank"><i class="fa fa-tumblr"></i></a></li>
                            </ul>

                        <div class="slide-logo text-center">
                            <a href="http://glasshunt.co"><%=image_tag("logo_small.png", alt: "Example Image", style: "height:40px; margin-right:10px")%>Glass Hunt</a>
                        </div>

                        <nav class="main-mnu">
                            <ul>
                                <li><%= link_to "About", "http://glasshunt.co" %></li>
                                <li><%= link_to "Challenges", challenges_path %></li>
                                <%- if current_user %>
                                    <li><%= link_to "Your submissions", user_submissions_path(current_user) %></li>
                                    <li><%= link_to "Your profile", edit_user_path(current_user) %></li>
                                    <li><%= link_to " Inbox", mailbox_inbox_path %></li>
                                    <!-- if the user is an admin, we allow to post new challenges and to view the submissions -->
                                    <%- if (current_user.user_type?) %> 
                                        <li><%= link_to "Post a new challenge", new_challenge_path %></li>
                                        <li><%= link_to "Admin Panel", rails_admin_path %></li>
                                    <% else %>
                                    <% end %>
                                    <li><%= link_to "Log out", destroy_user_session_path, :method => :get %></li>

                                <% else %>
                                    <li><%= link_to "Sign In", new_user_session_path %></li>
                                    <li><%= link_to "Sign Up", new_user_registration_path %></li>
                                <% end %>
                            </ul>
                        </nav>  
                    </div>
                    <!-- End Slide Menu -->

                    <div class="col-lg-7 col-md-7 col-sm-11 col-xs-10">
                        <h1 class="logo caps text-left">

                         <a href="http://glasshunt.co"><%=image_tag("logo_small.png", alt: "Example Image", style: "height:40px; margin-right:10px")%>Glass Hunt</a>
                        </h1>
                    </div>
                    <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
                        <p class="slogan text-right">The token and dev playground, rewarding hackers to find exploits in blockchains.</p>
                    </div>
                </div>
            </div>

           <!-- </nav> not sure if this nav is needed / probably has to be deleted-->
        </header>
    <!-- End Fixed Navigation -->

    

    <!-- Page Content -->
    <div id="body" >
        <%= yield %>
    </div>
    <!-- End Page Content -->

    </div>
    <!-- Begin footer -->
    <footer class="grey-bg text-center huge-margin">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-mg-12 col-sm-12 col-xs-12">
                    <ul class="socials text-center">
                        <li><a href="https://twitter.com/theglasshunt" ><i class="fa fa-twitter" target="_blank"></i></a></li>
                        <li><a href="https://www.facebook.com/glasshunt/"><i class="fa fa-facebook" target="_blank"></i></a></li>
                        
                        <li><a href="http://glasshunt.tumblr.com/" target="_blank"><i class="fa fa-tumblr"></i></a></li>
                        
                    </ul>
                    <div class="copyright">
                        <p>&copy; Glass Hunt. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer -->

    
    <!-- End wrapper -->
</body>


</html>
